.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #eee;
}
 
.card {
  background-color: white;
  box-shadow: 2px 2px 5px lightgray;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cardTitle {
  flex: 30px;

  background-color: rgb(15, 182, 71);
  color: white;
  // 文字竖排
  text-align: center;
  justify-content: center;

  font-size: 20px;
  line-height: 50px; 
  letter-spacing: 5px;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 2px 5px lightgray;
}

.cardContent {  
  flex: 100;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}


td,
th {
  border: 0.5px solid rgb(190, 190, 190);
  padding: 10px;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #eee;
}

th[scope='col'] {
  background-color: #696969;
  color: #fff;
  letter-spacing: 5px;
}

th[scope='row'] {
  background-color: #696969;
  color: #fff;
  writing-mode: vertical-rl;
  letter-spacing: 15px;
  font-weight: bold;
}
td[scope='splitor']{
 background-color:rgb(121, 219, 136);
 margin: 0;
 padding:3px;
}

caption {
  padding: 10px;
  caption-side: bottom;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.8rem;
  position: inherit;
  left: 10px;
  margin: 10px ;
}
